<!-- Banner Section Begin -->
<section class="banner spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 offset-lg-4">
                <div class="banner__item">
                    <div class="banner__item__pic">
                        <img src="images/products/2.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Yeni Yılda Güzel Kok</h2>
                        <a asp-area="" asp-controller="Products" asp-action="Index">Hemen Al!</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="banner__item banner__item--middle">
                    <div class="banner__item__pic">
                        <img src="images/products/3.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Tom Ford Hazzı Müthiş </h2>
                        <a asp-area="" asp-controller="Products" asp-action="Index">Hemen Al!</a>

                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="banner__item banner__item--last">
                    <div class="banner__item__pic">
                        <img src="images/products/4.png" alt="">
                    </div>
                    <div class="banner__item__text">
                        <h2>Gentilmen Erkekler İçin</h2>
                        <a asp-area="" asp-controller="Products" asp-action="Index">Hemen Al!</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->