<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">
                    <!--Doldurulabilir bir bölüm-->
                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="header__top__links">
                            <a href="#">Giriş Yap</a>
                            <a href="#">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a class="display-4 text-primary btn-link" href="./index.html">CosmeticShop</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active">
                            <a 
                                asp-area=""
                                asp-controller="Home"
                                asp-action="Index"
                        >Ana Sayfa</a></li>
                        <li><a asp-area=""
                            asp-controller="Product"
                            asp-action="Index"
                        >Alışveriş</a></li>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="./contact.html">Hakkımızda</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="images/products/icon/heart.png" alt=""></a>
                    <a href="#"><img src="images/products/icon/cart.png" alt=""> <span>0</span></a>
                    <div class="price">$0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->